body {
    background-color: #000;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.fondo {
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {
    height: 2vw;
    margin-bottom: 20px;
}

.logo img {
    width: 8%;
    fill: none;
}

.fa-2x {
    margin: 0 0.3em;
    color: white!important;
}

.contacto {
    height: 550px;
}

.ancla {
    text-decoration: none;
    color: #fff;
}

.ancla:hover {
    color: rgb(201, 201, 201);
}

h2 {
    color: white!important;
    text-align: center;
    font-size: 2.5em!important;
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 15px;
}

h5 {
    color: white!important;
    font-size: 1.5em;
}

p {
    color: white!important;
    font-size: 1.5em;
}

.typeform-widget {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    padding: 40px 0;
}

form2 {
    background-color: rgb(245, 240, 239);
    padding: 60px;
}