body {
    background-color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.navbar.fixed-top.scrolled {
    background-color: #060606d4 !important;
    transition: background-color 200ms linear;
}

hr {
    border: 1px solid #17a2b8;
    width: 90%;
}

.fondo {
    background-color: rgba(0, 0, 0, 0.3);
}

.logo-viajes {
    width: 50px;
}

footer .icons i {
    font-size: 2rem;
}

.fa-2x {
    margin: 0 0.3em;
    color: white!important;
}

.contacto {
    height: 550px;
}

.ancla {
    text-decoration: none;
    color: #fff;
}

.ancla:hover {
    color: rgb(201, 201, 201);
}

h2 {
    color: white!important;
    text-align: center;
    font-size: 2em!important;
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 15px;
}

h5 {
    color: white!important;
    font-size: 23px;
}

p {
    color: white!important;
    font-size: 20px;
}

.card img {
    height: 250px;
    object-fit: cover;
}

.typeform-widget {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    padding: 40px 0;
}

form2 {
    background-color: rgb(245, 240, 239);
    padding: 60px;
}